# Supabase
VITE_SUPABASE_URL=https://cvnwizhojoyourjkvumg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN2bndpemhvam95b3Vyamt2dW1nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4Mzc5NjIsImV4cCI6MjA4NzQxMzk2Mn0.Ok6nSO8F-QyyaYkHJao57MKv3GmOu51nVw8amRHAE_g

# Google Gemini
VITE_GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
